body{
    background-image: linear-gradient(to right, #000000, #130007, #1b0012, #20001d, #1f0029, #200238, #1c0448, #0d085a, #0f0a71, #120b88, #160ba0, #1a0bb9);
}
ul{
    list-style-type: none;
    text-align: right;
    padding: 12px;
}
li{
    display: inline;
    padding: 8px;
    font-family: "Comic Sans MS";
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

.nav{
    background-color: darkgreen;
    border-radius: 12px;
}